Dataset/Bus/*.jpg
Dataset/Bus/*.png
Dataset/Bus/*.jpeg
Dataset/Car/*.jpg
Dataset/Car/*.png
Dataset/Car/*.jpeg
Dataset/motorcycle/*.jpg
Dataset/motorcycle/*.png
Dataset/motorcycle/*.jpeg
Dataset/Truck/*.jpg
Dataset/Truck/*.png
Dataset/Truck/*.jpeg
randomimagestest/*.png
randomimagestest/*.jpg
randomimagestest/*.jpeg
singleimagetest/*.png
singleimagetest/*.jpg
singleimagetest/*.jpeg
